.toolchains/
.downloads/
.pub-cache/
rust/target/

dart_worker/.dart_tool/
.dart_tool/
build/
fixtures/*/.dart_tool/
fixtures/*/build/
fixtures/*/lib/*.g.dart
fixtures/*/lib/*.g.part
fixtures/*/lib/*.gen.txt
fixtures/fast-build-correctness-*/
upload/
